#textdomain wesnoth-The_Revenge

[scenario]
  id = 01_beginning
  next_scenario = 02_resurrection
  name = _ "Episode 1: Der Anfang"
  map_data = "{~add-ons/The_Revenge/maps/01_beginning.map}"
  turns = 12
  carryover_percentage = 0
  {DAWN}
  {MORNING}
  {AFTERNOON}
  {DUSK}
  {FIRST_WATCH}
  {SECOND_WATCH}
  music = battle.ogg

  # ====================================================================================================================
  # Aufstellung der Seiten

  [side]
    {SIDE_TEDDER_BEGINNING 23 4}
    {GOLD 65 52 39}
    {INCOME 4 2 0}
  [/side]

  [side]
    side = 2
    controller = ai
    team_name = 2
    user_team_name = _ "Menschen des Ostens"
    type = Grand Marshal
    id = general-disgustus
    name = _ "General Disgustus"
    canrecruit = yes
    x,y = 26,31
    recruit = Master Bowman, Royal Guard, Halberdier
    {GOLD 800 900 1000}
    income = 20
  [/side]

  [side]
    side = 3
    controller = ai
    team_name = 2
    user_team_name = _ "Menschen des Ostens"
    type = General
    id = mighty-starcher
    name = _ "Mighty Starcher"
    canrecruit = yes
    x,y = 22,35
    recruit = Swordsman, Pikeman, Duelist
    {GOLD 300 350 400}
    income = 10
  [/side]

  # ====================================================================================================================
  # Anfang

  [story]
    [part]
      background = story/landscape-mountains-04.jpg
      story = _ "Die Geschichte beginnt in einem friedlichen, ruhigen und entspannten Dorf, gelegen im Haaggebirge. Zu dieser Zeit herrschten in genannten Bergen die friedlebenden Trolle des Stammes von Tedder. Du wirst nun, selbstverständlich, eine Menge von Kriegen, Tag ein und Tag aus, erwarten. Trolle in den Bergen, ohne in Streitigkeit mit den Menschen oder Zwergen? Aber ich verspreche dir, alles und jeder wurde gut behandelt."
    [/part]
    [part]
      background = story/landscape-hills-01.jpg
      story = _ "Tedder wusste, was wann zu tun war. Um die Kampfeslüste seiner Stammmitglieder zu stillen ließ er Wettkämpfe austragen, mit Richtlinien, und natürlich nur bis kurz vor dem Tod. Nicht bis zum Tod. Es waren ja, wie gesagt, friedliche Zeiten unter der Herrschaft von Tedder."
    [/part]
    [part]
      background = portraits/orcs/sovereign.png
      story = _ "Die Orks, südlich lebend, jenseits der Menschenstadt Disgusburg, sogar noch viel weiter südlich als der Stille Wald, waren ebenfalls glücklich mit dem nun lange andauernden Frieden. Die Kriegsfeden zwischen den einzelnen Orkstämmen nahmen ab. Die Heerführer der größeren Stämme hatten sich vereint, so dass sogar einstimmig ein neuer Kopf des Rates gewählt wurde - Uruknorg, der Sohn von Kapou'e, Sohn von Schwarzauge Karun."
    [/part]
    [part]
      background = portraits/elves/high-lord.png
      story = _ "Von den im Stillen Wald lebenden Wesen, seien es die alten Waldschrate oder die dem Elfenkönig Vasolin unterliegenden Elfen, wurde seit Beginn des Friedens zwischen Nachtwesen und Menschen nichts mehr gehört."
    [/part]
    [part]
      background = portraits/humans/marshal.png
      story = _ "Am heutigen Vormittag jedoch war die Zeit gekommen, in der sich etwas ändern sollte. Es war General Disgustus, ein sturrer und erhabener Wichtigtuer, der es vor Kurzem bis zum Machthaber von Disgusburg geschafft hatte. Raben flogen von der Menschenstadt nach Süden und nach Westen. Die Stadt rüstete sich auf. Glocken läuteten am heutigen Morgen. Soldaten wurden aus der Reserve zur Verstärkung geholt. Die Grenzwachen am Fluss wurden verstärkt..."
    [/part]
    [part]
      background = story/landscape-plain.jpg
      story = _ "Die Trolle des Haaggebirges bekamen die Veränderung und den Lärm am Morgen mit. Tedder schickte zwei seiner Krieger zur südlichen Grenze der Berge, um herauszufinden, was in Disgusburg vor sich ging. In der Ferne ertönte ein leise näher kommendes Geräusch, an Pferdehufe erinnernd. Hier beginnt unsere Geschichte..."
    [/part]
  [/story]

  [event]
    name = prestart
    # Side 1
    {NAMED_GENERIC_UNIT 1 (Troll Warrior) 27 15 troll-die-at-start _"Satisfier Meh"}
    {NAMED_GENERIC_UNIT 1 Troll 23 12 troll-brunt _"Brunt Meh"}
    # Side 2
    {NAMED_GENERIC_UNIT 2 (Grand Knight) 24 21 humans-grand-knight _"Sir Richard"}
    {NAMED_GENERIC_UNIT 2 Knight 29 24 humans-knight-one _"Ritter Roubard"}
    {NAMED_GENERIC_UNIT 2 Knight 6 20 humans-knight-two _"Ritter Gerhard"}
    # Side 3
    [unit]
      type = Royal Guard
      name = _ "Helmut"
      x,y = 14,27
      side = 3
      ai_special = guardian
      {FACING n}
    [/unit]
    [unit]
      type = Royal Guard
      name = _ "Almbard"
      x,y = 20,27
      side = 3
      ai_special = guardian
      {FACING n}
    [/unit]
    # Villages, somehow {STARTING_VILLAGES} macro not working
    {CAPTURE_VILLAGES 1 23 4 14}
    {CAPTURE_VILLAGES 2 26 31 16}
  [/event]

  [event]
    name = start
    {SCROLL_TO 27 15}
    {SPEAK troll-brunt _"Bruder! Schau, dort im Süden. Ritter mit dem Wappen von Disgusburg! Ob Sie Kundschaft überbringen?"}
    {MOVE_UNIT id=humans-grand-knight 28 15}
    {MOVE_UNIT id=humans-knight-one 27 16}
    {SPEAK troll-die-at-start _"Seid gegrüßt, Reiter von Disgusburg! Was geschieht im Süden hinter verschlossenen Türen? Hämmer wurden geschwungen, Glocken geläutet und..."}
    [animate_unit]
      flag = attack
      [filter]
        id = humans-grand-knight
      [/filter]
      [primary_attack]
        name = sword
      [/primary_attack]
      [facing]
        x,y = 27,15
      [/facing]
    [/animate_unit]
    [animate_unit]
      flag = attack
      [filter]
        id = humans-knight-one
      [/filter]
      [primary_attack]
        name = sword
      [/primary_attack]
      [facing]
        x,y = 27,15
      [/facing]
    [/animate_unit]
    [kill]
      animate = yes
      id = troll-die-at-start
    [/kill]
    {MOVE_UNIT id=troll-brunt 19 8}
    {MOVE_UNIT id=humans-knight-one 24 31}
    {MOVE_UNIT id=humans-grand-knight 23 32}
    {SPEAK humans-knight-one _"General, wir ham 'n paar Trolle nah zum Flachland g'sehn."}
    {SPEAK general-disgustus _"Und was...?"}
    {SPEAK humans-knight-one _"Naja, einen hab'n wir erwischt."}
    {SPEAK general-disgustus _"Dann ist es wohl soweit. Lasst Botschaft an die Elfen überbringen, sie soll'n sich bereit halten. Bringen wir Tedders Herrschaft über das Haaggebirge hiermit zu Ende!"}
    {MOVE_UNIT id=troll-brunt 21 5}
    {SPEAK troll-brunt _"Wir werden angegriffen! ALARM! Die Boten aus Disgusburg haben meinen Bruder ermordet! General Disgustus muss sich für eine Invasion gerüstet haben!"}
    {SPEAK tedder _"Was kommt mir hier zu Ohren? Die Menschen brechen den Frieden, den, den ein jeder Elf, Zwerg, Ork und Troll seit eh und je ersehnte?"}
    {SPEAK troll-brunt _"Jawohl, Tedder, so wahr ich hier stehe. Ich zweifle nicht an unserem Volke - Lass uns diesen schwertschwingenden Stinktieren zeigen, was passiert, wenn man den Frieden mit euch, Tedder, ins Wanken bringt!"}
    {SPEAK tedder _"Wir haben kaum noch Gold in unserem Besitz, unsere Vorräte in den Höhlen wurden von Wilden ausgeraubt. Bringt mir Ugoki, er soll alle Reserven mobilisieren!"}
    [unit]
      {UNIT_UGOKI 1 1}
      type = Troll Hero
      side = 1
      x,y = 29,1
      num_traits = 0
    [/unit]
    {MOVE_UNIT id=ugoki 23 3}
    {SPEAK ugoki _"Jemand hat nach mir gerufen? Ich musste meine Nachspeise aus Eichhörnchen und Pferdefuß unterbrechen."}
    {NAMED_GENERIC_UNIT 1 (Troll Rocklobber) 29 1 troll-pelter _"Pelter Gol"}
    {MOVE_UNIT id=troll-pelter 19 2}
    {NAMED_GENERIC_UNIT 1 (Troll Shaman) 29 1 troll-lunatic _"Lunatic Gol"}
    {MOVE_UNIT id=troll-lunatic 22 1}
    {SPEAK troll-lunatic _"Wir hörten von den Untaten der Menschen, Tedder - Wie lauten eure Befehle?"}
    [objectives]
      {OBJECTIVE win _"Überlebe so lange wie möglich gegen die kommende Invasion von General Disgustus"}
      {OBJ_NOTE _"Dieses Szenario ist im Todesfall eines Helden nicht verloren."}
      {OBJ_NOTE _"Es werden 0 Gold in das nächste Szenario übernommen."}
    [/objectives]
  [/event]

  # Attentäter erscheinen anfangs Runde 8
  [event]
    name = turn 8
    {NAMED_GENERIC_UNIT 3 Assassin 6 9 humans-assassin-one _"Rolph"}
    {NAMED_GENERIC_UNIT 3 Assassin 2 9 humans-assassin-two _"Stabin"}
    {SPEAK general-disgustus _"Ah, guckt! Die Attentäter sind eingetroffen."}
    {SPEAK humans-assassin-one _"Schulz!"}
  [/event]

  # ====================================================================================================================
  # Todesfälle

  [event]
    name = last breath
    [filter]
      id = general-disgustus
    [/filter]
    {SPEAK general-disgustus _"Ihr werdet mich nie besiegen, geht doch gar nicht. Meine Männer haben euch bereits umrundet. Flieht, solange euch die Zeit dazu bleibt!"}
    {MOVE_UNIT id=general-disgustus 30 35}
    [kill]
      animate = no
      id = general-disgustus
    [/kill]
  [/event]
  
  [event]
    name = last breath
    [filter]
      id = mighty-starcher
    [/filter]
    {SPEAK mighty-starcher _"Disgusburg ist besser als ihr!"}
    {MOVE_UNIT id=mighty-starcher 30 35}
    [kill]
      animate = no
      id = mighty-starcher
    [/kill]
  [/event]

  # ====================================================================================================================
  # Ende

  [event]
    name = time over
    [fire_event]
      name = kill trolls
    [/fire_event]
  [/event]

  # Unmöglicher Fall - dass Gegner tot sind. Das sollte nur passieren, falls der Spieler cheatet
  [event]
    name = enemies defeasted
    {SPEAK_NARRATOR _"Die Trolle waren so kurz vor dem Sieg - Doch die Überraschung war auf der Seite der Menschen."}
    [fire_event]
      name = kill trolls
    [/fire_event]
  [/event]

  [event]
    name = last breath
    [filter]
      id = tedder
    [/filter]
    {SPEAK tedder _"Ich habe versagt zu herrschen... Doch möge meine Rache die Menschen verbrennen und ihre Seelen auf Ewig quälen!"}
    [kill]
      id = tedder
    [/kill]
    [fire_event]
      name = kill trolls
    [/fire_event]
  [/event]

  [event]
    name = last breath
    [filter]
      id = ugoki
    [/filter]
    {SPEAK ugoki _"Es tut mir leid, Tedder... Ich habe versagt."}
    [kill]
      id = ugoki
    [/kill]
    [fire_event]
      name = kill trolls
    [/fire_event]
  [/event]

  [event]
    name = kill trolls
    {SPEAK_NARRATOR _"Tedders Stammesmitglieder kämpften lang. Jene, die immernoch am Leben waren, wurden kaltblütig umgebracht. In Zusammenarbeit mit den Attentätern wurde bis auf den letzten Troll Blut vergossen."}
    [store_unit]
      [filter]
        side = 1
      [/filter]
      variable = units
    [/store_unit]
    [unit]
      type = Assassin
      side = 3
      id = humans-assassin
      name = _ "Greg"
      x,y = 24,9
    [/unit]
    
    {FOREACH units i}
      {MOVE_UNIT id=humans-assassin $units[$i].x $units[$i].y}
      [animate_unit]
        flag = attack
        [filter]
          id = humans-assassin
        [/filter]
        [facing]
          x,y = $units[$i].x,$units[$i].y
        [/facing]
        [primary_attack]
          range = melee
        [/primary_attack]
      [/animate_unit]
      [kill]
        animate = yes
        id = $units[$i].id
      [/kill]
    {NEXT i}

    {SPEAK_NARRATOR _"An diesem Tage starb Tedder..."}
    {SPEAK_NARRATOR _"...oder doch nicht?"}
    {CLEAR_VARIABLE units}
    [modify_side]
      side = 1
      recruit = ""
    [/modify_side]
    {VICTORY}
  [/event]
[/scenario]
