#textdomain wesnoth-The_Revenge

#define WOSE_GUARDIAN X Y
#ifdef EASY
  {UNIT_GUARDIAN 2 Wose {X} {Y}}
#endif
#ifdef NORMAL
  {UNIT_GUARDIAN 2 (Elder Wose) {X} {Y}}
#endif
#ifdef DIFFICULT
  {UNIT_GUARDIAN 2 (Ancient Wose) {X} {Y}}
#endif
#enddef

[scenario]
  id = 04A_elves_war
  victory_when_enemies_defeated = yes
  next_scenario = 05_taking_sides
  name = _ "Episode 4: Der Elfenkrieg"
  map_data = "{~add-ons/The_Revenge/maps/04_elves_war.map}"
  turns = 24
  {DAWN}
  {MORNING}
  {AFTERNOON}
  {DUSK}
  {FIRST_WATCH}
  {SECOND_WATCH}
  music = battle.ogg

  # ====================================================================================================================
  # Aufstellung der Seiten, Start

  [side]
    {SIDE_TEDDER_UNDEAD 8 7}
    {UNIT_NEKROMANT 1 8 7}
    gold = 100
    {INCOME 4 2 0}
  [/side]

  [side]
    side = 2
    controller = ai
    team_name = 2
    user_team_name = _ "Elfen"
    side = 2
    id = vasolin
    name = _ "Vasolin"
    type = Elvish High Lord
    canrecruit = yes
    x,y = 6,32
    recruit = Elvish Archer, Elvish Fighter
    fog = yes
    {GOLD 150 210 280}
    income = 4
  [/side]

  [story]
    [part]
      background = {IMG story/core/TROW-trow_intro_03.jpg}
      story = _ "In der Gruft im Sumpf, einem wirklich unangenehmen und gewöhnungsbedürftigen Heim, lernte Tedder die Grundlagen des Totenbeschwörens. Hierbei konzentrierten sich der Nekromant und Tedder auf leichte Beschwörungen - Wie dem Wiederbeleben von Skeletten im umliegenden Sumpfgebiet."
    [/part]
    [part]
      background = {IMG story/core/TB-Two_Brothers_M1P1.png}
      story = _ "Tedder machte sich wirklich gut - Er lernte sehr schnell. Die Beschwörung von Skeletten hatte er im Handumdrehen heraus. Vom Nekromanten kamen zunehmend sarkastische und etwas wirklich verrückte Kommentare. Tedder versuchte erfolgreich alles Abgedrehte, das von ihm kam, zu ignorieren."
    [/part]
    [part]
      background = {IMG story/forest.jpg}
      story = _ "Ugoki hatte in der Zwischenzeit das Umfeld erkundet. Im Süden, gleich anschließend zum Sumpf wo sie sich befanden, erhoben sich die Baäume des Stillen Waldes. Ugoki war sich in diesem Moment nicht dessen bewusst, dass der Stille Wald immernoch unter der Herrschaft von Vasolin dem Elfenkönig stand. Ugoki durchstreifte den Wald sorgenlos, als er etwas hörte. Von Süden kamen Stimmen. Es kamen Geräusche von sich bewegendem morrschen Holz - Könnten das die sagenumwobenen uralten Waldschrate sein? Jetzt sah er etwas, weit entfernt, zwischen Bäumen laufen. Es war ein Elf! Es wurden mehr. Es wurde lauter."
    [/part]
    [part]
      background = {IMG story/black.jpg}
      story = _ "Ein Pfeil sauste an Ugoki vorbei. Noch einer."
    [/part]
    [part]
      background = {IMG story/black.jpg}
      story = _ "Ugoki rannte. Zurück zur Feste des Nekromanten. Durch den Sumpf. Rein da, vorbei an lebenden Skeletten, die Tedder zur Übung beschworen hatte..."
    [/part]
  [/story]

  [event]
    name = prestart
    {UNIT_TRANSFORM tedder (Undead Troll)}
    {UNIT_TRANSFORM ugoki (Undead Troll)}
    {CAPTURE_VILLAGES 1 18 1 18}
    {CAPTURE_VILLAGES 2 17 32 18}
    [modify_side]
      side = 1
      gold = 100
      recruit = Skeleton, Skeleton Archer
    [/modify_side]
    # Spawn woses in forest
    {WOSE_GUARDIAN 12 21}
    {WOSE_GUARDIAN 7 23}
    {WOSE_GUARDIAN 15 23}
    {WOSE_GUARDIAN 9 25}
    {NAMED_GENERIC_UNIT 2 (Elvish Captain) 6 32 elvish-captain _"Drump"}
    {NAMED_GENERIC_UNIT 2 (Elvish Rider) 6 32 elvish-rider _"Rider"}
    {GENERIC_UNIT 2 "Elvish Ranger" 6 32}
    {MOVE_UNIT id=ugoki 12 20}
  [/event]

  [event]
    name = start
    {MOVE_UNIT id=vasolin 9 26}
    {MOVE_UNIT id=elvish-captain 8 26}
    {MOVE_UNIT type="Elvish Ranger" 11 26}
    {MOVE_UNIT id=elvish-rider 1 24}
    {CAPTURE_VILLAGES 2 1 24 1}
    {MOVE_UNIT id=ugoki 10 7}
    {SPEAK ugoki _"Tedder! Tedder! Elfen kommen von Süden - Eine riesige Armee!"}
    {SPEAK nekromant _"Unsere wohl auf ewig unversöhnlichen Feinde. Mal wieder. Nun denn, jetzt kannst du, lieber Tedder, zeigen, was du gelernt hast. Lass uns Spaß mit ein paar Elfenleichen haben!"}
    {SPEAK tedder _"Und ich dachte schon, wir würden hier nur Theorie machen. Lass uns ein paar Elfenschädel zerschmettern!"}
    {SPEAK vasolin _"So sehen wir uns wieder, nekrophiler Nekromant! Wer hat Dich aus Deinem angestammten Verlies entlassen, so dass du uns wieder mit deiner stinkenden Präsenz belästigst?"}
    {SPEAK nekromant _"Die beiden Trolle halfen mir - und jetzt helfen Sie mir dich umzubringen!"}
    {SPEAK vasolin _"Trolle? Was machen Trolle in unseren Landen - Jene im Haaggebirge wurden doch von General Disgustus ausgelöscht!"}
    {SPEAK tedder _"So so. Sabbernde <i>Bergelfen</i> und Übergewichtige mit Stahl gekleidete Zweibeiner machen gemeinsame Sache. War euch der Wald nicht genug? Ich denke, wir werden den Elfen hier eine ganz besondere Aufmerksamkeit schenken, noch bevor wir gen Haaggebirge marschieren um Disgusburg zu vernichten."}
    {SPEAK nekromant _"Das hört sich doch <i>befriedigend</i> an."}
    {SPEAK vasolin _"Tötet diese Trolle und bringt mir den Nekromant in Ketten, so wie er es hätte bleiben sollen!"}
    # Anzahl der erlegten Elfen
    {VARIABLE kill_count 0}
    [objectives]
      {OBJECTIVE win _"Besiege Vasolin, den Elfenkönig"}
      {OBJECTIVE lose _"Tod eines Helden"}
      {OBJ_NOTE _"Tedder ist es nun möglich Skelette zu beschwören."}
    [/objectives]
  [/event]
  
  # ====================================================================================================================
  # Wortwechsel während der Schlacht

  [event]
    name = die
    first_time_only = no
    [filter]
      side = 2
    [/filter]
    {VARIABLE_OP kill_count add 1}
    [switch]
      variable = kill_count
      [case]
        value = 1
        {SPEAK tedder _"Oh, wir haben einen Elf umgebracht."}
        {SPEAK nekromant _"Sehr gut, heute wollen wir Elfenblut fließen sehen!"}
      [/case]
      [case]
        value = 5
        {SPEAK tedder _"Müssen wir die wirklich alle umbringen?"}
        {SPEAK ugoki _"Ich denke, wenn wir den König haben, ist hier Schluss."}
        {SPEAK nekromant _"Je mehr von denen, desto gut! Haut rein, Freunde!"}
      [/case]
      [case]
        value = 8
        {PLACE_IMAGE {IMG icons/items/intestine.png} $x1 $y1}
        {SPEAK nekromant _"Der Darm! Der Darm!"}
      [/case]
      [case]
        value = 11
        {SPEAK nekromant _"Hahahaha, die Leichen werden ein Paradies!"}
      [/case]
    [/switch]
  [/event]

  # ====================================================================================================================
  # Ende

  [event]
    name = last_breath
    [filter]
      id = vasolin
    [/filter]
    {SPEAK vasolin _"Du hast mich besiegt, verfluchter Nekromant! Und ihr, ihr Trolle, oder was ihr auch seid, wollt ihr seinen Fluch teilen?"}
    {SPEAK nekromant _"HAHAHA! Spratzel, spritz!"}
    {SPEAK ugoki _"Was hat es mit diesem Fluch auf sich?"}
    {SPEAK tedder _"Sagen wir mal so: Ich bedaure schon etwas, dass wir bei unseren Verbündeten nicht etwas wählerischer sein können."}
    {SPEAK nekromant _"Meinen Fluch und seine Auswirkungen werdet ihr früher oder später mitbekommen - Doch nicht heute. Wenn ihr mich jetzt entschuldigt, hier sind einige Elfenleichen um die ich mich gerne kümmern würde. Hehe."}
    {VICTORY}
  [/event]

  [event]
    name = last_breath
    [filter]
      id = tedder, ugoki, nekromant
    [/filter]
    {DEFEAT}
  [/event]

  [event]
    name = time over
    {SPEAK_NARRATOR _"Zu lange herumgetrödelt, Saubande, blöde."}
    {DEFEAT}
  [/event]
[/scenario]
