#textdomain wesnoth-The_Revenge

# Rekrutierungsliste für den Elfenkönig
#define ELVISH_LEADER_TYPE
#ifdef EASY
  type = Elvish Captain
#else
  type = Elvish Marshal
#endif
#enddef

#define ELVISH_RECRUIT_LIST
#ifdef EASY
  recruit = Elvish Archer, Elvish Fighter, Elvish Scout
#endif
#ifdef NORMAL
  recruit = Elvish Archer, Elvish Fighter, Elvish Rider, Elvish Shaman
#endif
#ifdef DIFFICULT
  recruit = Elvish Hero, Elvish Ranger, Elvish Marksman, Elvish Rider, Elvish Druid
#endif
#enddef

#define WOSE_GUARDIAN X Y
#ifdef EASY
  {UNIT_GUARDIAN 3 Wose {X} {Y}}
#endif
#ifdef NORMAL
  {UNIT_GUARDIAN 3 (Elder Wose) {X} {Y}}
#endif
#ifdef DIFFICULT
  {UNIT_GUARDIAN 3 (Ancient Wose) {X} {Y}}
#endif
#enddef

[scenario]
  id = 05_judgement_day
  victory_when_enemies_defeated = no
  next_scenario = 06_reconquest
  name = _ "Episode 5: Ermessen"
  map_data = "{~add-ons/The_Revenge/maps/05_judgement_day.map}"
  turns = 30
  {DAWN}
  {MORNING}
  {AFTERNOON}
  {DUSK}
  {FIRST_WATCH}
  {SECOND_WATCH}
  music = battle.ogg

  # ====================================================================================================================
  # Aufstellung der Seiten, Start

  [side]
    side = 1
    controller = human
    team_name = 1
    user_team_name = _ "Untote"
    id = tedder
    name = _ "Tedder"
    type = Undead Troll
    canrecruit = yes
    recruit = Skeleton Archer, Skeleton
    [unit]
      type = Undead Troll
      id = ugoki
      name = _ "Ugoki"
      x,y = 14,14
      [modifications]
        {TRAIT_LOYAL}
      [/modifications]
      {IS_HERO}
    [/unit]
    [unit]
      type = Dark Sorcerer
      id = nekromant
      name = _ "Nekromant"
      x,y = 14,10
      [modifications]
        {TRAIT_LOYAL}
      [/modifications]
      {IS_HERO}
    [/unit]
    {GOLD 200 150 100}
    {INCOME 4 2 0}
  [/side]

  [side]
    side = 2
    controller = ai
    team_name = 2
    user_team_name = _ "Elfen"
    id = landolin
    name = _ "Landolin"
    {ELVISH_LEADER_TYPE}
    canrecruit = yes
    {ELVISH_RECRUIT_LIST}
    fog = yes
    {GOLD 200 300 400}
    income = 5
  [/side]

  [side]
    side = 3
    controller = ai
    team_name = 2
    user_team_name = _ "Elfen"
    no_leader = yes
    gold = 0
    income = 0
    # Standard Units
    {WOSE_GUARDIAN 3 28}
    {WOSE_GUARDIAN 12 27}
    {WOSE_GUARDIAN 17 30}
    {WOSE_GUARDIAN 20 34}
    [ai]
      aggression = 1
    [/ai]
  [/side]

  [story]
    [part]
      background = null
      story = _ "Nach ein paar Tagen mit zunehmend unangenehmer Anwesenheit vom nekrophilen Nekromant, war ein weiterer Tag des Blutvergießens gekommen..."
    [/part]
    [part]
      background = null
      story = _ "Vasolin wurde getötet - Doch sein Sohn, Landolin, ist Tage und Nächte ohne Pausen gereist, um dem untoten Abschaum endgültig ein Ende zu bereiten..."
    [/part]
  [/story]

  [event]
    name = prestart
    [objectives]
      {OBJECTIVE win _"Fliehe vor Landolins Truppen und erreiche das nord-östlich gelegene Lager"}
      {OBJECTIVE win _"Bonus: Töte Vasolins Sohn, Landolin"}
      {OBJECTIVE lose _"Tod eines Helden"}
    [/objectives]
  [/event]

  [event]
    name = start
    {SPEAK landolin _"Meinen Vater mögt ihr getötet haben, doch die Elfen aus unseren Landen werden euch zermalmen, bis auf den letzten verdammten untoten Knochen eures Seins!"}
    {SPEAK nekromant _"Hahahahaha! Das wird ja immer besser. Lebendige Elfen kann man töten und mit toten Elfen kann man Spaß haben. Und ich will Spaß haben!"}
    {SPEAK tedder _"*flüstert* Es wird mir etwas zu seltsam mit diesem Totenbeschwörer hier..."}
    {SPEAK ugoki _"*flüstert* Lass uns darüber ein anderes Mal unterhalten. Wir müssen diesem Elfen zuerst die Innereien herausschneiden"}
  [/event]

  # ====================================================================================================================
  # Ende

  [event]
    name = last_breath
    [filter]
      id = landolin
    [/filter]
    {SPEAK landolin _"Ihr werdet bald einsehen, dass ihr die falsche Seite gewählt habt. Verdammt sollt ihr sein! Mein Bruder wird euch folgen und vernichten!"}
    {SPEAK nekromant _"So ist's gut. Könnt ihr mich alleine mit den Toten lassen? Ich bräuchte ein paar Minuten."}
    {SPEAK ugoki _"*flüstert* Der beglückt sich ernsthaft mit Leichen?"}
    {SPEAK tedder _"*flüstert* Kein Kommentar."}
    {VICTORY}
  [/event]

  [event]
    name = last_breath
    [filter]
      id = tedder, ugoki, nekromant
    [/filter]
    {SPEAK unit _"Und tschüss. Nächstes Mal besser aufpassen!"}
    {DEFEAT}
  [/event]

  [event]
    name = time over
    {SPEAK_NARRATOR _"Zeit ist vorbei. Ihr wurdet besiegt."}
    {DEFEAT}
  [/event]
[/scenario]
