#textdomain wesnoth-The_Revenge

[scenario]
  id = undead_life
  victory_when_enemies_defeated = no
  next_scenario = null
  name = _ "Episode 3: Untotes Leben"
  map_data = "{~add-ons/The_Revenge/maps/undead_life.map}"
  turns = 24
  {DAWN}
  {MORNING}
  {AFTERNOON}
  {DUSK}
  {FIRST_WATCH}
  {SECOND_WATCH}
  music = battle.ogg

  # ====================================================================================================================
  # Aufstellung der Seiten

  [side]
    side = 1
    controller = human
    team_name = 1
    user_team_name = _ "Untote"
    profile = {TR_IMAGE portraits/undead/undead-troll.png}
    # Undead Troll als unit für Tedder und Ugoki. Um sicher zu gehen, dass man nicht im letzten Szenario geskipt hat und
    # hier noch ein Geist wäre.
    id = tedder
    name = _ "Tedder"
    type = Undead Troll
    canrecruit = yes
    recruit = Ghost
    fog = yes
    [unit]
      type = Undead Troll
      id = ugoki
      name = _ "Ugoki"
      x,y = 30,6
      [modifications]
        {TRAIT_LOYAL}
      [/modifications]
      {IS_HERO}
    [/unit]
    [unit]
      type = Dark Sorcerer
      id = nekromant
      name = _ "Nekromant"
      x,y = 29,7
      [modifications]
        {TRAIT_LOYAL}
      [/modifications]
      {IS_HERO}
    [/unit]
    {GOLD 200 150 100}
    {INCOME 4 2 0}
  [/side]

  [side]
    side = 2
    controller = ai
    team_name = 2
    user_team_name = _ "Elfen"
    no_leader = yes
    gold = 0
    income = 0
    {NAMED_GENERIC_UNIT 2 (Elvish Ranger) 11 20 elf-eins _"Botschafter"}
    {NAMED_GENERIC_UNIT 2 (Elvish Fighter) 10 23 elf-zwei _"Botschafter"}
    {NAMED_GENERIC_UNIT 2 (Elvish Archer) 6 22 elf-drei _"Botschafter"}
  [/side]

  [event]
    name = prestart
    [objectives]
      {OBJECTIVE win _"Geleite Nekromant zum Burgfried seiner Sumpffestung"}
      {OBJECTIVE lose _"Einer der Helden stirbt"}
    [/objectives]
  [/event]

  [event]
    name = sighted
    [filter]
    [/filter]
    {SPEAK unit _"Der nekrophile Nekromant ist wieder da! ALARM!"}
    {SPEAK nekromant _"Elfen. Hatten wir uns nicht geeinigt, dass wir uns aus dem Weg gehen? Was macht ihr in meiner Sumpffestung?"}
    {SPEAK unit _"Deine Zeit hier ist vorüber, Nekromant. Verschwinde, oder wir töten dich."}
    {SPEAK nekromant _"Nein. Ich bin nicht der jenige, der verschwindet. Das seid ihr. Ich gehe nicht zurück in die Gefangenschaft!"}
  [/event]

  [event]
    name = moveto
    [filter]
      id = nekromant
      x,y = 8,22
    [/filter]
    {SPEAK nekromant _"Endlich zuhause. Nun, meine Freunde, beginnt Eure Ausbildung!"}
  [/event]

[/scenario]
