#textdomain wesnoth-The_Revenge

# @doc
# This macro is copied from Son Of The Black Eye - utils/bigmap.cfg
#define BIGMAP
    [background_layer]
      image = maps/background.jpg
      scale_vertically = yes
      scale_horizontally = no
      keep_aspect_ratio = yes
    [/background_layer]
    [background_layer]
      image = {IMG maps/tr-bigmap.png}
      scale_vertically = yes
      scale_horizontally = no
      keep_aspect_ratio = yes
      base_layer = yes
    [/background_layer]
#enddef

# @doc
# This macro is copied from Son Of The Black Eye - utils/bigmap.cfg
#define JOURNEY X Y
    [image]
      x,y = {X},{Y}
      file = misc/new-journey.png
      delay = 300
      centered = yes
    [/image]
#enddef
