#textdomain wesnoth-The_Revenge

# ======================================================================================================================
# Unit descriptions - Story characters

# Character reference: Tedder and Ugoki
#define UNIT_DESCRIPTION_RESURRECTED_TROLL
description = _ "Once, Tedder ruled the life of the most trolls living in the Mountains Of Peril. Since the hatefully risen Disgustus IV. deceived his troll tribe and annihilated them entirely, he strolls focused on revenge under the living as an undead." #enddef

# Character reference: Tedder and Ugoki
#define UNIT_DESCRIPTION_UNDEAD_TROLL
description = _ "More deadly and smelling even worse than the proceeding resurrected troll. Once, Tedder ruled the life of the most trolls living in the Mountains Of Peril. Since the hatefully risen Disgustus IV. deceived his troll tribe and annihilated them entirely, he strolls focused on revenge under the living as an undead." #enddef

# Character reference: Nekromant
#define UNIT_DESCRIPTION_INSANE_NECROMANCER
description = _ "Madness, craziness and folly left aside - This sorcerer has risen to somewhat horribly insanity in addition to a disease in his brain. Living and even undead creatures are encouraged to avoid encountering this individuality and warned about his probably contagious craziness." #enddef

# Character reference: Kiki
#define UNIT_DESCRIPTION_NAUGHTY_GIRL
description = _ "In contrast to other outlaws, this outlaw girl has not risen by proving any sort of achievements in combat. The only reason to allow this fellow to accompany you are the skinny hands and overall tiny anatomy, which is going to help you in several aspects. Actually, there is only one aspect known so far: Escape from a prison or anything similar." #enddef

# Character reference: Dralgur
#define UNIT_DESCRIPTION_EXILED_DWARF
description = _ "Exiled by the ruler Dulagan of the dwarves in the Mountains Of Peril. Sorrowful and lonely roaming, Dralgur met and joined Tedder with his odd collaboration of outlaws, undead and meaningwhile a dwarf too, himself." #enddef

# ======================================================================================================================
# Unit descriptions - Other units

#define UNIT_DESCRIPTION_SKELETON_SNIPER
description = _ "Summoned by the obscurest necromancers known in Wesnoth, these skeletons spread fear, dreading any creature they face." #enddef

#define UNIT_DESCRIPTION_SKELETON_DEATH_SHOOTER
description = _ "Destroyer of hope and annihilator of the most powerful living beings in Wesnoth, this skeletal marksman finalizes anyone's life." #enddef

#define UNIT_DESCRIPTION_SKELETON_FAULTY_SUMMONED
description = _ "After death, the former living beings soul stays in the empire of dead, waiting for salvation. Necromancers use the dark forces in order to summon those souls back to life. Unfortunately, some amateur pretended to be better than he actually was, resulting in these faulty summoned skeleton retards." #enddef

#define UNIT_DESCRIPTION_TROLL_WARRIOR
description = _ "Trolls typically neither need nor prefer to use any proper armament in combat, as large 'sticks and stones' serve them all too well. However, the dwarves of the Mountains Of Peril have prisoned a troll with such an incredibly large metallic war hammer and locked it away in their underground gunnery. Anyway, the troll is still an indubitable risk in the rusty jails." #enddef

#define UNIT_DESCRIPTION_BONE_RIDER
description = _ "Once great warriors thundering across the plains, these mounted riders atop their skeletal horses were raised from the grave by unholy magic to spread fear and destruction." #enddef

# ======================================================================================================================
# Weapon specials

# Knockout - Description
#define WEAPON_SPECIAL_DESCRIPTION_KNOCKOUT
description = _ "Knockout the enemy, making it unconscious and not being able to do anything. Active on offense only." #enddef

# Knockout - Special notes
#define SPECIAL_NOTES_KNOCKOUT
" " + {WEAPON_SPECIAL_DESCRIPTION_KNOCKOUT} #enddef
